{% extends "layout.html" %}

{% block title %}My App{% endblock %}

{% block content %}
Test content for forms
<form method='POST' action='' class="text-orange-600">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="bg-blue-500 text-white font-bold px-4 my-2" type='submit' value='Submit'>Search Stores</button>
</form>

{% if stores %}
    <ul>
        {% for store in stores %}
            <li>{{ store.name }} - {{store.address}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}