{% extends "layout.html" %}

{% block title %}My App{% endblock %}

{% block content %}
<h1> All Cha for you </h1>

<div class="grid grid-cols-3 gap-4 m-4">
{% for tea in all_tea %}
<div class="bg-orange-600 p-5 rounded">
    <h3 class="text-left text-lg font-bold text-center"> {{ tea.name }} </h3>
    <img class="rounded h-56 text-center mx-auto block m-2 shadow-lg" src="{{ tea.image.url }}" alt="{{ tea.name }}">
    <p> Tea Type: {{ tea.cha_type }} </p>
    <p> Price: {{ tea.price }} </p>
    <a href="{% url 'cha_description' tea.id %}">
        <button Type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded mx-auto block">Details</button>
    </a>
</div>
{% endfor %}
</div>

{% endblock %}