{% extends 'layout.html' %}

{% block title %}Tweet Page{% endblock %}

{% block content %}
    <h1 class="text-center mt-4"> This is my tweet page </h1>

    <h4>
        {% if form.instance.pk %} 
        Edit Tweet
        {% else %}
        Create tweet
        {% endif %}
        <form method='POST' enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">Submit</button>
        </form>
        <a href="{% url 'tweet_list' %}">Back to Tweet List</a>
    </h4>
{% endblock %}